@model User
<h3 class="text-center">Register</h3>
<form action="/create" method="post">
    <div class="form-group">
        <p><span asp-validation-for="FirstName" class="text-danger"></span></p>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
    </div>
    <div class="form-group">
        <p><span asp-validation-for="LastName" class="text-danger"></span></p>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
    </div>
    <div class="form-group">
        <p><span asp-validation-for="Email" class="text-danger"></span></p>
        <label asp-for="Email"></label>
        <input asp-for="Email">
    </div>
    <div class="form-group">
        <p><span asp-validation-for="Password" class="text-danger"></span></p>
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>
    <div class="form-group">
        <p><span asp-validation-for="Confirm" class="text-danger"></span></p>
        <label>Password Confirmation</label>
        <input asp-for="Confirm">
    </div>
    <input type="submit" value="Register">
</form>